<h1>Sign in</h1>
<div>
  <%= form_for(:session, url: sign_in_path, method: :post) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %> <br />
    <%= f.label :password %>
    <%= f.password_field :password %> <br />
    <%= f.submit "Sign in" %>
  <% end %>
</div>
<hr />
<div>
  <%= link_to 'Sign up', sign_up_path %>
</div>
